input:invalid{
  border: solid 2px red;
}
input:valid{
  border: solid 2px green;
}
#box{
  width: 200px;
  height: 200px;
  background-color: blue;
  margin-left: 42%;
}
#txt1{
  text-align: center;
}